<?xml version="1.0" encoding="utf-8"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請前往
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="System_tech" connectionString="Data Source = 172.30.4.92\SQLEXPRESS;Initial Catalog =System_tech;User ID =lapulas;Password=w70429267" />
    <!--name=命名，Data Source:路徑，Initial Catalog：資料庫名稱，User ID：連接帳號，Password：連接密碼-->
  </connectionStrings>
  <system.web>
    <compilation targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
</configuration>
<!--ProjectGuid: 70636b12-b573-4bab-9bfc-9a64ec922e98-->